services:
  db:
    image: postgres:15.15
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: db
    ports:
      - "5000:5432"
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
    